### 1. Problem statement
 We are tasked by a well-known video streaming company to predict its subscribers' taste in movies, rating from 0 to 5.

### 2. Import packages

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

### 3. Read in source data

In [2]:
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [5]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

#### 3.1 Read in train and test sets

In [6]:
##create training and test set data
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
##convert it to array
training_set = np.array(training_set, dtype = 'int')

test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
##convert it to array
test_set = np.array(test_set, dtype = 'int')

In [7]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [8]:
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

### 4. Data structure creation

In [9]:
#take max users id in train and test data
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [10]:
nb_users, nb_movies

(943, 1682)

In [11]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        ##id of movies that is rated by current users
        id_movies = data[:,1][data[:,0] == id_users]
        
        ##rate of movies that is given by current user
        id_ratings = data[:,2][data[:,0] == id_users]
        
        #inialize ratings for all movies
        #set 0 for movies that are not rated by current users
        ratings = np.zeros(nb_movies)
        #movie id starts from 1, 1st movie will be 1st element in rating with index as 0
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [12]:
training_set = convert(training_set)
test_set = convert(test_set)

#### 4.1 convert data into Torch tensor

In [13]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [14]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [15]:
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

### 5. SAE architecture creation

In [16]:
class SAE(nn.Module):
    def __init__(self, ):
        #allow to inhert all classes and methods of parent class
        super(SAE, self).__init__()
        #num of features from input: num of movies, 20 nodes in first hidden layer
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        #start to decoding
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    #input vector (movies rating) for a specific users
    def forward(self, x):
        #apply activaton fuc on first encoding layer
        #return first encoded vector
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        #no need to activate the vector
        #output the reconstrctured vector
        x = self.fc4(x)
        return x

### 6. Model training

In [17]:
sae = SAE()
#Create loss fucn object
criterion = nn.MSELoss()
#create optimizer object
#parameters of all auto-encoders defined in the class
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [18]:
# #train the SAE using pytorch only codes

#loop all epochs
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    #exclude users who did not rate any movies
    #define a float
    s = 0.
    #loop through each users
    for id_user in range(nb_users):
        #get all rating for current user from training_set
        #nn does not take single dimension vector, so add a batch dimension
        #a batch of sinlge inptu vector, update weigths after each vector
        input = Variable(training_set[id_user]).unsqueeze(0)
        #create target by copying input
        target = input.clone()
        #only look at users who rated at least 1 movie
        if torch.sum(target.data > 0) > 0:
            #get output from the network, a vector of predicted value
            output = sae(input)
            #do not compute gradient with respect to target
            target.require_grad = False
            #don't account the output whose initial input is 0
            output[target == 0] = 0
            loss = criterion(output, target)
            #make demonitor is not zero, to add a small number
            mean_corrector = nb_movies / float(torch.sum(target.data>0) + 1e-10)
            #backward method to determine which direction 
            loss.backward()
            #access the data of loss object .data[0]
            #adjust the loss to compute relevant mean for all movies for current user
            train_loss += np.sqrt(loss.data * mean_corrector)
            s += 1.
            #apply optimizer to update weights, decides the amount of weight udpates
            optimizer.step()
    print('epoch: '+str(epoch) + ' loss: ' + str(train_loss/s))

epoch: 1 loss: tensor(1.7712)
epoch: 2 loss: tensor(1.0967)
epoch: 3 loss: tensor(1.0531)
epoch: 4 loss: tensor(1.0385)
epoch: 5 loss: tensor(1.0308)
epoch: 6 loss: tensor(1.0267)
epoch: 7 loss: tensor(1.0237)
epoch: 8 loss: tensor(1.0220)
epoch: 9 loss: tensor(1.0207)
epoch: 10 loss: tensor(1.0196)
epoch: 11 loss: tensor(1.0188)
epoch: 12 loss: tensor(1.0185)
epoch: 13 loss: tensor(1.0177)
epoch: 14 loss: tensor(1.0173)
epoch: 15 loss: tensor(1.0170)
epoch: 16 loss: tensor(1.0171)
epoch: 17 loss: tensor(1.0166)
epoch: 18 loss: tensor(1.0165)
epoch: 19 loss: tensor(1.0162)
epoch: 20 loss: tensor(1.0163)
epoch: 21 loss: tensor(1.0159)
epoch: 22 loss: tensor(1.0159)
epoch: 23 loss: tensor(1.0155)
epoch: 24 loss: tensor(1.0158)
epoch: 25 loss: tensor(1.0156)
epoch: 26 loss: tensor(1.0156)
epoch: 27 loss: tensor(1.0154)
epoch: 28 loss: tensor(1.0150)
epoch: 29 loss: tensor(1.0129)
epoch: 30 loss: tensor(1.0114)
epoch: 31 loss: tensor(1.0112)
epoch: 32 loss: tensor(1.0082)
epoch: 33 loss: tensor(1.0083)
epoch: 34 loss: tensor(1.0042)
epoch: 35 loss: tensor(1.0033)
epoch: 36 loss: tensor(1.0008)
epoch: 37 loss: tensor(0.9999)
epoch: 38 loss: tensor(0.9949)
epoch: 39 loss: tensor(0.9947)
epoch: 40 loss: tensor(0.9936)
epoch: 41 loss: tensor(0.9905)
epoch: 42 loss: tensor(0.9896)
epoch: 43 loss: tensor(0.9905)
epoch: 44 loss: tensor(0.9898)
epoch: 45 loss: tensor(0.9896)
epoch: 46 loss: tensor(0.9848)
epoch: 47 loss: tensor(0.9855)
epoch: 48 loss: tensor(0.9825)
epoch: 49 loss: tensor(0.9823)
epoch: 50 loss: tensor(0.9833)
epoch: 51 loss: tensor(0.9840)
epoch: 52 loss: tensor(0.9796)
epoch: 53 loss: tensor(0.9809)
epoch: 54 loss: tensor(0.9789)
epoch: 55 loss: tensor(0.9829)
epoch: 56 loss: tensor(0.9749)
epoch: 57 loss: tensor(0.9725)
epoch: 58 loss: tensor(0.9662)
epoch: 59 loss: tensor(0.9692)
epoch: 60 loss: tensor(0.9683)
epoch: 61 loss: tensor(0.9704)
epoch: 62 loss: tensor(0.9661)
epoch: 63 loss: tensor(0.9681)
epoch: 64 loss: tensor(0.9644)
epoch: 65 loss: tensor(0.9625)
epoch: 66 loss: tensor(0.9612)
epoch: 67 loss: tensor(0.9623)
epoch: 68 loss: tensor(0.9578)
epoch: 69 loss: tensor(0.9573)
epoch: 70 loss: tensor(0.9566)
epoch: 71 loss: tensor(0.9540)
epoch: 72 loss: tensor(0.9534)
epoch: 73 loss: tensor(0.9533)
epoch: 74 loss: tensor(0.9509)
epoch: 75 loss: tensor(0.9530)
epoch: 76 loss: tensor(0.9483)
epoch: 77 loss: tensor(0.9499)
epoch: 78 loss: tensor(0.9460)
epoch: 79 loss: tensor(0.9482)
epoch: 80 loss: tensor(0.9452)
epoch: 81 loss: tensor(0.9468)
epoch: 82 loss: tensor(0.9439)
epoch: 83 loss: tensor(0.9456)
epoch: 84 loss: tensor(0.9421)
epoch: 85 loss: tensor(0.9435)
epoch: 86 loss: tensor(0.9412)
epoch: 87 loss: tensor(0.9443)
epoch: 88 loss: tensor(0.9440)
epoch: 89 loss: tensor(0.9430)
epoch: 90 loss: tensor(0.9398)
epoch: 91 loss: tensor(0.9402)
epoch: 92 loss: tensor(0.9379)
epoch: 93 loss: tensor(0.9385)
epoch: 94 loss: tensor(0.9371)
epoch: 95 loss: tensor(0.9374)
epoch: 96 loss: tensor(0.9359)
epoch: 97 loss: tensor(0.9363)
epoch: 98 loss: tensor(0.9348)
epoch: 99 loss: tensor(0.9350)
epoch: 100 loss: tensor(0.9333)
epoch: 101 loss: tensor(0.9343)
epoch: 102 loss: tensor(0.9329)
epoch: 103 loss: tensor(0.9338)
epoch: 104 loss: tensor(0.9325)
epoch: 105 loss: tensor(0.9330)
epoch: 106 loss: tensor(0.9310)
epoch: 107 loss: tensor(0.9322)
epoch: 108 loss: tensor(0.9301)
epoch: 109 loss: tensor(0.9314)
epoch: 110 loss: tensor(0.9296)
epoch: 111 loss: tensor(0.9307)
epoch: 112 loss: tensor(0.9291)
epoch: 113 loss: tensor(0.9302)
epoch: 114 loss: tensor(0.9282)
epoch: 115 loss: tensor(0.9295)
epoch: 116 loss: tensor(0.9274)
epoch: 117 loss: tensor(0.9289)
epoch: 118 loss: tensor(0.9271)
epoch: 119 loss: tensor(0.9282)
epoch: 120 loss: tensor(0.9264)
epoch: 121 loss: tensor(0.9274)
epoch: 122 loss: tensor(0.9257)
epoch: 123 loss: tensor(0.9272)
epoch: 124 loss: tensor(0.9253)
epoch: 125 loss: tensor(0.9261)
epoch: 126 loss: tensor(0.9246)
epoch: 127 loss: tensor(0.9257)
epoch: 128 loss: tensor(0.9239)
epoch: 129 loss: tensor(0.9248)
epoch: 130 loss: tensor(0.9228)
epoch: 131 loss: tensor(0.9234)
epoch: 132 loss: tensor(0.9227)
epoch: 133 loss: tensor(0.9237)
epoch: 134 loss: tensor(0.9223)
epoch: 135 loss: tensor(0.9232)
epoch: 136 loss: tensor(0.9219)
epoch: 137 loss: tensor(0.9226)
epoch: 138 loss: tensor(0.9213)
epoch: 139 loss: tensor(0.9219)
epoch: 140 loss: tensor(0.9208)
epoch: 141 loss: tensor(0.9213)
epoch: 142 loss: tensor(0.9202)
epoch: 143 loss: tensor(0.9207)
epoch: 144 loss: tensor(0.9200)
epoch: 145 loss: tensor(0.9206)
epoch: 146 loss: tensor(0.9196)
epoch: 147 loss: tensor(0.9203)
epoch: 148 loss: tensor(0.9193)
epoch: 149 loss: tensor(0.9198)
epoch: 150 loss: tensor(0.9186)
epoch: 151 loss: tensor(0.9194)
epoch: 152 loss: tensor(0.9182)
epoch: 153 loss: tensor(0.9189)
epoch: 154 loss: tensor(0.9178)
epoch: 155 loss: tensor(0.9183)
epoch: 156 loss: tensor(0.9173)
epoch: 157 loss: tensor(0.9180)
epoch: 158 loss: tensor(0.9173)
epoch: 159 loss: tensor(0.9179)
epoch: 160 loss: tensor(0.9170)
epoch: 161 loss: tensor(0.9174)
epoch: 162 loss: tensor(0.9167)
epoch: 163 loss: tensor(0.9170)
epoch: 164 loss: tensor(0.9165)
epoch: 165 loss: tensor(0.9167)
epoch: 166 loss: tensor(0.9159)
epoch: 167 loss: tensor(0.9162)
epoch: 168 loss: tensor(0.9153)
epoch: 169 loss: tensor(0.9159)
epoch: 170 loss: tensor(0.9154)
epoch: 171 loss: tensor(0.9157)
epoch: 172 loss: tensor(0.9151)
epoch: 173 loss: tensor(0.9153)
epoch: 174 loss: tensor(0.9149)
epoch: 175 loss: tensor(0.9152)
epoch: 176 loss: tensor(0.9141)
epoch: 177 loss: tensor(0.9149)
epoch: 178 loss: tensor(0.9142)
epoch: 179 loss: tensor(0.9145)
epoch: 180 loss: tensor(0.9140)
epoch: 181 loss: tensor(0.9144)
epoch: 182 loss: tensor(0.9137)
epoch: 183 loss: tensor(0.9141)
epoch: 184 loss: tensor(0.9134)
epoch: 185 loss: tensor(0.9139)
epoch: 186 loss: tensor(0.9132)
epoch: 187 loss: tensor(0.9136)
epoch: 188 loss: tensor(0.9129)
epoch: 189 loss: tensor(0.9135)
epoch: 190 loss: tensor(0.9127)
epoch: 191 loss: tensor(0.9132)
epoch: 192 loss: tensor(0.9126)
epoch: 193 loss: tensor(0.9129)
epoch: 194 loss: tensor(0.9123)
epoch: 195 loss: tensor(0.9125)
epoch: 196 loss: tensor(0.9116)
epoch: 197 loss: tensor(0.9122)
epoch: 198 loss: tensor(0.9117)
epoch: 199 loss: tensor(0.9121)
epoch: 200 loss: tensor(0.9116)

### 7. SAE testing

In [19]:
#loop through each users
test_loss = 0
s = 0.
for id_user in range(nb_users):
    #keep using training set
    input = Variable(training_set[id_user]).unsqueeze(0)
    #create target by copying input
    target = Variable(test_set[id_user]).unsqueeze(0)
    #only look at users who rated at least 1 movie
    if torch.sum(target.data > 0) > 0:
        #get output from the network, a vector of predicted value
        output = sae(input)
        #do not compute gradient with respect to target
        target.require_grad = False
        #don't account the output whose initial input is 0
        output[target == 0] = 0
        loss = criterion(output, target)
        #make demonitor is not zero, to add a small number
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        
        
        #access the data of loss object .data[0]
        #adjust the loss to compute relevant mean for all movies for current user
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9523)

#### 7.1 print actual & predicted ratings

In [20]:
user_id = 0
movie_title = movies.iloc[:nb_movies, 1:2]
user_rating = training_set.data.numpy()[user_id, :].reshape(-1,1)
user_target = test_set.data.numpy()[user_id, :].reshape(-1,1)
  
user_input = Variable(training_set[user_id]).unsqueeze(0)
predicted = sae(user_input)
predicted = predicted.data.numpy().reshape(-1,1)
  
result_array = np.hstack([movie_title, user_target, predicted])
result_array = result_array[result_array[:, 1] > 0]
result_df = pd.DataFrame(data=result_array, columns=['Movie', 'Target Rating', 'Predicted'])

In [21]:
result_df

                                                 Movie Target Rating Predicted
0                                     GoldenEye (1995)             3   4.00196
1                   Dracula: Dead and Loving It (1995)             5   4.53998
2                                         Nixon (1995)             5   3.88326
3                         Sense and Sensibility (1995)             3   3.54654
4                                   Money Train (1995)             4   3.49637
5                                     Assassins (1995)             4   4.03847
6                                        Powder (1995)             3    3.7134
7                                  Now and Then (1995)             2   3.39489
8                               Dangerous Minds (1995)             3   3.87965
9                              Wings of Courage (1995)             4   3.64611
10                             Dead Man Walking (1995)             2   2.22749
11                                     Clueless (1995)             4   3.57542
12                                Mortal Kombat (1995)             5   3.39424
13                                Seven (Se7en) (1995)             4   3.92213
14                        When Night Is Falling (1995)             3   3.57308
15                               Guardian Angel (1994)             4   3.64365
16                                     Lamerica (1994)             3   3.07979
17                               Big Green, The (1995)             3    3.5481
18                      Kids of the Round Table (1995)             4    4.0611
19                  Indian in the Cupboard, The (1995)             5   4.27597
20                               Eye for an Eye (1996)             4   4.20548
21                           Mr. Holland's Opus (1995)             3   3.53532
22                                Two if by Sea (1996)             5   4.69229
23                                     Bio-Dome (1996)             4   3.71147
24                                     Two Bits (1995)             3   3.08727
25                                       Friday (1995)             3    4.0391
26                          From Dusk Till Dawn (1996)             3   3.83726
27                        Kicking and Screaming (1995)             4   3.35241
28                              Misérables, Les (1995)             3   3.68124
29                                 Bed of Roses (1996)             1   3.78717
..                                                 ...           ...       ...
106                            Don Juan DeMarco (1995)             4   3.64643
107                                   Dream Man (1995)             5   3.99997
108                                   Drop Zone (1994)             2   3.00079
109                  Destiny Turns on the Radio (1995)             3   3.53332
110                        Death and the Maiden (1994)             4   3.12039
111                           Dolores Claiborne (1994)             5   4.04467
112                               Dumb & Dumber (1994)             4   3.20447
113                         Eat Drink Man Woman (1994)             4   3.52818
114                                Exit to Eden (1994)             3   3.52538
115                                     Ed Wood (1994)             2   3.50693
116                                Forget Paris (1995)             5   2.98453
117  Far From Home: The Adventures of Yellow Dog (1...             4   3.84968
118                                       Gordy (1995)             4    3.7987
119                            Gumby: The Movie (1995)             5   4.19749
120                           Glass Shield, The (1994)             1   2.48767
121                                Heavyweights (1994)             4   3.85456
122                                        I.Q. (1994)             4    3.4695
123                          Jefferson in Paris (1995)             2   2.96788
124                             Jerky Boys, The (1994)             5   3.79796
125                                      Junior (1994)             1    2.6236
126                                  Just Cause (1995)             2   3.53982
127          Star Wars: Episode IV - A New Hope (1977)             5   3.82899
128                                Little Women (1994)             1   2.86976
129                          Little Princess, A (1995)             1   2.65299
130                                   Enfer, L' (1994)             3   3.90197
131                         Legends of the Fall (1994)             2   2.82665
132                                 Major Payne (1994)             4   4.17367
133                               Little Odessa (1994)             1   2.57402
134                My Crazy Life (Mi vida loca) (1993)             4   2.66018
135                            Man of the House (1995)             3   4.40056

[136 rows x 3 columns]